/* Estilo geral para o corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilo para o menu de navegação */
nav {
    background-color: hsl(251, 92%, 15%);
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para o formulário de contato */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
    background-color: #ebee40da;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

form input, form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.75em;
    cursor: pointer;
    border-radius: 3px;
}

form input[type="submit"]:hover {
    background-color: #555;
}
